.Login__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.Login__header {
    margin-bottom: 40px;
}

.Login__wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 30px;
}

.Login__button-wrapper {
    width: 192px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1.2px solid #d3d8dc;
    border-radius: 6px;
    cursor: pointer;
}

.Login__button-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.Login__divider-container {
    display: flex;
    align-items: center;
    text-align: center;
    
    margin-bottom: 30px;
}

.Login__line {
    flex-grow: 1;
    height: 1px;
    background-color: #e3e6e9;
}

.Login__text {
    color: #bec5cc;
    line-height: 16px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 500;
}

.Login__email-container {
    margin-bottom: 30px;
}

.Login__password-container {
    margin-bottom: 15px;
}

.Login__reset {
    display: block;
    font-size: 14px;
    text-align: right;
    color: #316fea;
    font-weight: 500;
    text-decoration: none;

    margin-bottom: 30px;

    cursor: pointer;
}

.Login__submit {
    margin-bottom: 20px;
}

.Login__new {
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.Login__signUp {
    color: #316fea;
    text-decoration: none;
}