.ForgotPassword__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.ForgotPassword__header {
    margin-bottom: 40px;
}

.ForgotPassword__email-container {
    margin-bottom: 25px;
}

.ForgotPassword__submit {
    margin-bottom: 20px;
}

.ForgotPassword .ForgotPassword__cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #060e1e;
    border: 1.2px solid #d3d8dc;

}